
// COLORS
$c-moderateviolet:hsl(263,55%,52%);
$c-verydarkgrayishblue:hsl(217,19%,35%);
$c-verydarkblackishblue:hsl(219,29%,14%);
$c-white:hsl(0,0%,100%);
$c-lightgray:hsl(0,0%,81%);
$c-lightgrayishblue:hsl(210,46%, 95%);

// DEVICE SIZES
$d-tablet: 768px;
$d-laptop: 1020px;
$d-desktop: 1440px;

// FONT FAMILIES
$ff-barlow:'Barlow Semi Condensed', sans-serif;

// FONT WEIGHTS
$fw-medium:500;
$fw-semibold:600;